.hh-section#hh-logo
  h1 Hyperlink Harry
.hh-section#level-info
  h2 level #{level}
  h3 
    | Site: 
    a(href='http://#{url}', target='_blank') #{url}
.hh-section
  p Internal links: 
    = numInternalLinks? numInternalLinks : 'Calculating...'
  p External links: 
    = numExternalLinks? numExternalLinks : 'Calculating...'
.hh-section
  p Links needed to escape: 
    = numLinksNeeded? numLinksNeeded : 'Calculating...'
  p Links collected: #{numCollectedLinks}
