.hh-section#hh-logo
  h1 Hyperlink Harry
.hh-section#level-info
  h2 level #{level}
  h3 
    | Site:&nbsp
    a(href='http://#{url}', target='_blank') #{displayUrl}
.hh-section
  p Internal links remaining: 
    = numInternalLinks
  p External links: 
    = numExternalLinks
.hh-section
  p Links needed to escape: 
    = numLinksNeeded
  p Links collected: #{numCollectedLinks}
