.hh-section#hh-logo
  h1 Hyperlink Harry
.hh-section#hh-level-info
  h2 level #{level}
  h3 
    | Site:&nbsp
    a(href='http://#{url}', target='_blank') #{displayUrl}
.hh-section
  #hh-progress-bar-container.hh-bar
    #hh-progress.hh-bar
    #hh-collected #{numCollectedLinks}
    #hh-goal.hh-bar
.hh-section
  p Total links on page: 
    = numLinks
    br 
    | Links needed to escape: 
    = numLinksNeeded
.hh-section
  p#hh-meter-full Ready to hyperjump! 
    br 
    | (Press 'space')
