!!!5
html
  head
    meta(charset="UTF-8")
    link(rel="stylesheet", href="css/app.css")
    title Hyperlink Harry - a browser based game where the web is the playing field
  body#hh-home
    header
      #logo
        #headline
          h1 &lt;Hyperlink&gt;&lt;/Harry&gt;
          h2 A HTML5 game set across the landscape of the web

      section#about
        #harry
        p One day while surfing the net, Harry's modem had a power surge and he got sucked into the web.  

        p Now Harry's digital consciousness is lost somewhere out in hyperspace, bouncing from site to site, evading antivirus bots and search engine spiders, and looking for his way back home.

        p Can you help him?  

        a#play(href="/play") PLAY NOW

        h3 How to play (Please use Chrome to play)
        p Use the keyboard arrows to move around.  Collect links to fill up your hyperlink bar.  Once you have enough "linkjuice", press 'space' to "hyperjump" to a new level.  'P' will pause the game.
      
        #baddies(style="text-align:center;")
          #bot
          #spider

        p
          b Please note: This game is in active development! 
          | It is fully playable, but lacks many features, may have bugs, and uses stand in art.  If you get stuck, try refreshing for a new level.  Because of the experimental nature of this game, it has poor cross-browser compatability and was designed to work best on Chrome.

    section#bottom
      section#technology
        h3 Technology
        p Built with:
        ul
          li node.js
          li coffeescript
          li jade
          li sass
          li html5 canvas
          li custom game engine based on atom and crafty
          li brunch
        p This project is currently open source.  View the source, comment, and fork on 
          a(href="https://github.com/jschomay/httpacman") Github.

      section#contact
        h3 Credits/contact
        p Game concept, game design, and principle coding by Jeff Schomay.  A few others contributed to the coding at verious points.

        ul
          li Jeff Schomay
            br
            a(href="https://github.com/jschomay/") On Github
            |  / 
            a(href="http://jeffschomay.com/") jeffschomay.com
          li Steve Manuel (helped with backend)
            br
            a(href="https://github.com/stevemanuel") On Github
          li Kevin Sylvestre (helped with component system)
            br
            a(href="https://github.com/ksylvest") On Github

